# Node.js
node_modules/
npm-debug.log*
package-lock.json

# Logs
logs
*.log
*.log.*

# Optional npm cache directory
.npm

# Environment variables
.env
.env.*

# IDEs and editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# System files
.DS_Store
Thumbs.db